*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  background-color: $secondary-text-color;
  font-size: $font-size;
  font-weight: $font-weight;
}

h1, h2, h3 {
  font-family: $font-family-alt;
  color: $dark-color;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1.5rem;
}