// Logo.scss
$primary-color: #555;
$secondary-color: #ddd;
$transition-speed: 0.3s;

.logo {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    transition: transform $transition-speed ease-in-out;

    &.hover {
        transform: translateY(4px);
    }
}

.logo-icon {
    position: relative;
    width: 16px;
    transition: all $transition-speed ease-in-out;
    transform-origin: bottom right;
    background-color: $primary-color;
    color: $secondary-color;

    &.hover {
        transform: rotate(90deg) scale(1.5) translateY(-44px);
        background-color: $secondary-color;
        color: $primary-color;
    }
}

.logo-text {
    font-size: 1.2rem;
    position: absolute;
    left: 4px;
    top: 12px;
    transform-origin: right;
    transform: rotate(-90deg);
}

.logo-name {
    padding: 4px;
    transition: all $transition-speed ease-in-out;
    background-color: $primary-color;
    color: $secondary-color;

    &.hover {
        background-color: $secondary-color;
        color: $primary-color;
    }
}
