$orange-color: #BF705E;
$secondary-text-color: #f4f4f4;
$green-color: #BDBF73;
$red-color: #F24C3D;
$bg-color: #f8f9fa;
$dark-color: #593F42;
$danger-color: crimson;
$button-bg: $dark-color;
$layout-bg: $green-color;
$button-hover-bg: rgba(0, 0, 0, 0.8);
$card-bg: $green-color;
$card-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
$button-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

$font-family: 'Arial', sans-serif;
$font-size: 1.6rem;
$border-radius: 5px;

$font-lg: $font-size * 1.5;

$gap: 0.5rem;
$gap-lg: $gap*2;
$gap-md: $gap*1.5;
$gap-sm: $gap*0.5;
$gap-xl: $gap*4;