$primary-color: #f9a20b;
$secondary-color: #f4f4f4;
$bg-color: #f8f9fa;
$button-bg: rgba(0, 0, 0, 0.5);
$button-hover-bg: rgba(0, 0, 0, 0.8);
$card-bg: #fff;
$card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$danger-color: crimson;
$dark-color: #333;
$font-family: 'Arial', sans-serif;
$font-size: 1.6rem;
$border-radius: 5px;