@import "variables";

.mainContainer {
  padding: 5rem 0;
  background-color: $secondary-text-color;

  h1 {
    text-align: center;
    background-color: $dark-color;
    color: $secondary-text-color;
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: $card-shadow;
  }

  .searchBar {
    padding-top: $gap-xl;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 50lvw;
      padding: $gap-sm;
      border-radius: $border-radius;
      border: none;
      box-shadow: $search-shadow;
      font-size: $font-lg;
      color: $dark-color;
      text-align: center;
      background-color: $secondary-text-color;

      &:focus {
        outline: none;
        box-shadow: $form-shadow-focus;
      }
    }
  }

  .workTitle {
    margin: 0;
    font-size: $font-lg;
  }
  
  .workInfos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
  }
  
  .workFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: $gap-md;
    padding-top: 1rem;
    .authorsList {
      font-size: 1.4rem;
    }
  
    .buttons {
      display: flex;
      flex-direction: column;
      gap: $gap-lg;
    }
  }
}