@import "variables";

.title {
  margin: 0;
  font-size: $font-lg;
}

.workInfos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

.workFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
}