@import "mixins";
@import "variables";

.mainContainer {
  padding-top: var(--header-height);

  h1 {
    text-align: center;
    background-color: var(--brown-color);
    color: var(--secondary-text-color);
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: var(--card-shadow);
  }

  .searchBar {
    padding-top: $gap-xl;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 50lvw;
      padding: $gap-sm;
      border-radius: $border-radius;
      border: none;
      box-shadow: var(--search-shadow);
      font-size: $font-lg;
      color: var(--brown-color);
      text-align: center;
      background-color: var(--secondary-text-color);

      &:focus {
        outline: none;
        box-shadow: var(--form-shadow-focus);
      }
    }
  }

  .sliderContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 1.5rem 0;

    .slider {
      display: flex;
      gap: 2rem;
      padding: 0 1.2rem 2rem 1.2rem;
      overflow-x: auto;
      scroll-behavior: smooth;
      scrollbar-width: none; // Masquer la scrollbar pour Firefox
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none; // Masquer la scrollbar pour Chrome/Safari
      }
    }

    .workCard {
      flex: 0 0 100%; // Chaque article prend 95% de la largeur du conteneur
      background: var(--green-color);
      padding: 1.5rem;
      border-radius: $card-radius;
      box-shadow: var(--card-shadow);
      color: var(--brown-color);
      text-align: center;
      transition: transform 0.3s ease-in-out;

      img {
        width: 95%;
      }

      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      }
    }

    .navButton {
      display: flex;
      justify-content: center;
      align-items: center;
      $nav-button-size: 18px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: var(--button-bg);
      color: white;
      border: none;
      width: $nav-button-size + 10;
      height: $nav-button-size + 10;
      cursor: pointer;
      font-size: $nav-button-size;
      z-index: 10;
      border-radius: 50%;
      transition: background 0.3s ease;

      &.left {
        left: 10px;
      }

      &.right {
        right: 10px;
      }

      &:hover {
        background: var(--button-hover-bg);
      }
    }
  }

  .workTitle {
    margin: 0;
    font-size: $font-lg;
  }

  .workInfos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .workFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: $gap-md;
    padding-top: 1rem;
    .authorsList {
      font-size: 1.4rem;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: $gap-lg;
      font-weight: 400;

      .btnAlert {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8rem 2rem;
        background-color: var(--red-color);
        color: var(--secondary-text-color);
        border: none;
        border-radius: $border-radius;
        box-shadow: var(--button-shadow);
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .btnEdit {
        padding: 1rem 2rem;
        background-color: $orange-color;
        color: var(--brown-color);
        border: none;
        border-radius: $border-radius;
        box-shadow: var(--button-shadow);
        cursor: pointer;
        transition: background-color 0.3s;
      }
    }
  }
}

@include respond-to(tablet) {
  .mainContainer {
    padding-top: 9rem;

    .workFooter {
      .buttons {
        flex-direction: column;
      }
    }
    .sliderContainer {
  
      .slider {
        gap: 1rem;
        padding: 0 1.2rem 2rem 1.2rem;
      }
  
      .workCard {
        flex: 0 0 50%;
        max-width: 50%;
  
        img {
          width: 95%;
        }
  
        &:hover {
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}

@include respond-to(desktop) {
  h1 {
    font-size: 2.5rem;
    padding: 2rem;
  }

  .searchBar {
    padding-top: $gap-lg;
    input {
      width: 30vw;
      font-size: $font-lg;
    }
  }

  .workFooter {
    justify-content: space-between;

    .buttons {
      gap: $gap-lg;
      .btnAlert {
        font-size: 1.1rem;
      }
    }
  }
}
