@import "mixins";
@import "variables";

.mainContainer {
  padding-top: var(--header-height);

  h1 {
    text-align: center;
    background-color: $dark-color;
    color: $secondary-text-color;
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: $card-shadow;
  }

  .searchBar {
    padding-top: $gap-xl;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 50lvw;
      padding: $gap-sm;
      border-radius: $border-radius;
      border: none;
      box-shadow: $search-shadow;
      font-size: $font-lg;
      color: $dark-color;
      text-align: center;
      background-color: $secondary-text-color;

      &:focus {
        outline: none;
        box-shadow: $form-shadow-focus;
      }
    }
  }

  .sliderContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 1.5rem 0;

    .slider {
      display: flex;
      gap: 2rem;
      padding: 0 1.2rem 2rem 1.2rem;
      overflow-x: auto;
      scroll-behavior: smooth;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .workCard {
      flex: 0 0 95%;
      background: $card-bg;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: $card-shadow;
      color: $dark-color;
      text-align: center;
      transition: transform 0.3s ease-in-out;

      img {
        width: 80vw;
      }

      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      }
    }

    .navButton {
      display: flex;
      justify-content: center;
      align-items: center;
      $nav-button-size: 18px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: $button-bg;
      color: white;
      border: none;
      width: $nav-button-size + 10;
      height: $nav-button-size + 10;
      cursor: pointer;
      font-size: $nav-button-size;
      z-index: 10;
      border-radius: 50%;
      transition: background 0.3s ease;

      &.left {
        left: 10px;
      }

      &.right {
        right: 10px;
      }

      &:hover {
        background: $button-hover-bg;
      }
    }
  }

  .workTitle {
    margin: 0;
    font-size: $font-lg;
  }

  .workInfos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .workFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: $gap-md;
    padding-top: 1rem;
    .authorsList {
      font-size: 1.4rem;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: $gap-lg;
    }
  }
}

@include respond-to(tablet) {
  .mainContainer {
    padding-top: 9rem;

    .searchBar {
      input {
        width: 40vw;
        font-size: $font-lg;
      }
    }

    .workFooter {
      flex-direction: row;
      .buttons {
        flex-direction: row;
      }
    }
  }

  @include respond-to(desktop) {
    h1 {
      font-size: 2.5rem;
      padding: 2rem;
    }

    .searchBar {
      padding-top: $gap-lg;
      input {
        width: 30vw;
        font-size: $font-lg;
      }
    }

    .workFooter {
      justify-content: space-between;

      .buttons {
        gap: $gap-lg;
        .btnAlert {
          font-size: 1.1rem;
        }
      }
    }
  }
}
