@import "mixins";
@import "variables";

.mainContainer {

  padding-top: var(--header-height);

  h1,
  h2 {
    text-align: center;
  }

  .workInfos {
    background-color: $green-color;
    color: $dark-color;
    padding: 1rem 2rem;
    border-radius: $border-radius;
    box-shadow: $card-shadow;

    .workArticle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;

      p {
        padding-top: 1rem;
      }
    }
  }

  .volumeCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 2rem 1rem 2rem;

    .authorsList {
      font-size: $font-sm;
    }
  }

  .volumeCard {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    background-color: $green-color;
    border-radius: 8px;
    box-shadow: $card-shadow;
    margin-bottom: 2rem;

    figure {
      display: flex;
      justify-content: center;

      img {
        width: 80vw;
      }
    }

    .volumeCardFooter {
      padding: 0 2rem;

      .isbn {
        font-size: $font-sm;
        font-family: $font-family-alt;
      }

      .summary {
        padding-top: 1rem;
        p {
          text-align: justify;
        }
      }
    }
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    gap: $gap-lg;
    padding: 2rem 0;
  }
}

@include respond-to(tablet) {
  .mainContainer {
    
    padding-top: 9rem;

    .searchBar {
      input {
        width: 40vw;
        font-size: $font-lg;
      }
    }

    .workFooter {
      flex-direction: row;
      .buttons {
        flex-direction: row;
      }
    }
  }
}

@include respond-to(desktop) {
  h1 {
    font-size: 2.5rem;
    padding: 2rem;
  }

  .searchBar {
    padding-top: $gap-lg;
    input {
      width: 30vw;
      font-size: $font-lg;
    }
  }

  .workFooter {
    justify-content: space-between;

    .buttons {
      gap: $gap-lg;
      .btnAlert {
        font-size: 1.1rem;
      }
    }
  }
}